*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: azure;
}

h1{
    margin-bottom: 50px;
    text-decoration:underline;
    font-weight: bold;
    font-style: italic;
    margin-left: 25%;
}
.container{
    align-items: center;
    margin-top: 200px;
}

.form-campo{
    margin-bottom: 16px;

}

.form-campo label{
    font-weight: bold;
    display: block;
    margin-left: 25%;
    margin-bottom: 5px;
}

.form-campo input {
    width: 20%;
    display: block;
    padding: 8px;
    margin-left: 25%;
}

button{
    display: block;
    width: 20%;
    padding: 8px 0;
    border: none;
    background-color: #199759;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
    margin-left: 25%;
    margin-top: 30px;
}